/** ************************************************************************************************************
    APP CSS Variables
 */
:root {
    --main-background-color: #f5f7f8;

    --header-height: 85px;
    --header-background-color: white;
    --logo-text-color: #283646;
    --logo-text-color-alt: #e54236;
    --logo-background-alt: #efbc11;
    --logo-text-shadow: 2px 2px 0px;

    --loader-size: 5rem;

	--aside-width: 250px;
}

/** ************************************************************************************************************
    General styles
 */
html {
    background-color: var(--main-background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding: 0;
}

/* Loader */
#loader {
    text-align: center;
    width: var(--loader-size);
    margin: 0 auto;
}
#loader .loader-svg {
    width: var(--loader-size);
}

/** ************************************************************************************************************
    Header styles
 */
#header {
    background-color: var(--header-background-color);
	flex-basis: 85px;
    text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: var(--header-height);
}
.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: var(--logo-text-color);
    text-shadow: var(--logo-text-shadow) rgba(235, 235, 235, 1);
}
.logo-alt {
    display: inline-block;
    margin: 0 3px 0 8px;
    padding: 3px 5px;
    background-color: var(--logo-background-alt);
    color: var(--logo-text-color-alt);
    text-shadow: var(--logo-text-shadow) rgba(255, 255, 255, 1);
    border-radius: 100%;
}

/** ************************************************************************************************************
    Main styles
 */
#main {
	margin-left: var(--aside-width);
	padding-top: 2em;
}

#mainContent {
	padding: 0 2em 2em 2em;
}
#sources {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--aside-width);
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 0 15px 0 rgba(0,0,0,0.1);

}
#sources-content {
	height: 100%;
	overflow: auto;
}
.sources-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sources-list li {
    margin: 5px 0;
	padding: .5em 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.sources-list li:hover {
	background-color: #fff;
}

.sources-list li a {
	padding-right: 10px;
}

.sources-list li .icon {
    width: 16px;
    height: 16px;
    display: block;
    padding: 10px;
	overflow: hidden;
}

/** ************************************************************************************************************
    Footer styles
 */
#footer {
    position: fixed;
    bottom: 5px;
    right: 20px;
	background-color: white;
}
#footer .copyright {
    font-size: 0.75rem;
    text-align: center;
    color: rgb(150, 150, 150);
	margin: 0;
	padding: 5px;
}

#footer .copyright  a {
    color: rgb(120, 120, 120);
}
