/** ************************************************************************************************************
    APP CSS Variables
 */
:root {
    --logo-text-color: black;
    --logo-text-color-alt: darkred;
    --logo-text-shadow: 4px 4px 0px;

    --loader-size: 5rem;
}

/** ************************************************************************************************************
    General styles
 */

body, html {

}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

}
/** ************************************************************************************************************
    Header styles
 */
#header {
    text-align: center;
}
.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    color: var(--logo-text-color);
    text-shadow: var(--logo-text-shadow) rgba(235, 235, 235, 1);
}

.logo-alt {
    display: inline-block;
    margin: 0 3px 0 8px;
    padding: 3px 5px;
    background-color: yellow;
    color: var(--logo-text-color-alt);
    text-shadow: var(--logo-text-shadow) rgba(255, 255, 255, 1);
    border-radius: 100%;
}
.logo-beta {
    color: #ccc;
    vertical-align: super;
    font-size: 70%;

}
/** ************************************************************************************************************
    Main styles
 */
#main {

}

/* Loader */
#loader {
    text-align: center;
    width: var(--loader-size);
    margin: 0 auto;
}
#loader .loader-svg {
    width: var(--loader-size);
}

/** ************************************************************************************************************
    Footer styles
 */

#footer .copyright {
    text-align: center;
    color: rgb(150, 150, 150);
}

#footer .copyright  a {
    color: rgb(120, 120, 120);
}
